
<footer>
    <h6>Created by {{name}}</h6>
        <a href="www.google.com" target="_blank">google</a>
        <a href="twitter.com">twitter</a>
        <a href="linkedin.com">linkedin</a>
        
</footer>
